@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument";
  src: url("../fonts/monument-extended-black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Monument";
  src: url("../fonts/monument-extended-light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Monument";
  src: url("../fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
}
td:nth-child(1),
th:nth-child(1) {
  border-left: none;
}
td:nth-child(4),
th:nth-child(4) {
  border-left: solid 1px #77009f;
  border-right: solid 1px #77009f;
}
th:nth-child(4) {
  border-top: solid 1px #77009f;
}
tfoot td:nth-child(4) {
  border-bottom: solid 1px #77009f;
}
tfoot tr:nth-child(1) {
  border-bottom: none;
}
tr {
  border-bottom: solid 1px rgba(244, 244, 244, 0.6);
}
td,
th {
  border-left: solid 1px rgba(244, 244, 244, 0.6);
}
@media (min-width: 1280px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #ccc5b9;
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background: #252422;
  }
  ::-webkit-scrollbar-thumb:hover {
    transition: all 0.3s ease-out;
    background: #403d39;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  }
}
