@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument";
  src: url("../fonts/monument-extended-black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Monument";
  src: url("../fonts/monument-extended-light.ttf") format("truetype");
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}
@media (min-width: 1280px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #ccc5b9;
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background: #252422;
  }
  ::-webkit-scrollbar-thumb:hover {
    transition: all 0.3s ease-out;
    background: #403d39;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  }
}
